# Build
build/bin/
dist/
frontend/dist/
frontend/node_modules/
*.exe
!build/app.ico

# Go
vendor/
*.test

# Wails
frontend/wailsjs/
frontend/package.json.md5

# IDE
.idea/
.vscode/
.DS_Store

# ZCode 本地文件
.zcode/

# TS 增量构建缓存
*.tsbuildinfo
